# Common file patterns for Rust jobs
.rust-changes: &rust-changes
  - "Cargo.toml"
  - "Cargo.lock"
  - "src/**/*"
  - ".cargo/**/*"
  - ".gitlab/ci/rust.gitlab-ci.yml"

# Cache configuration patterns for optimal build performance
.cargo-registry-cache: &cargo-registry-cache
  key: $CI_COMMIT_REF_SLUG
  paths:
    # https://doc.rust-lang.org/cargo/guide/cargo-home.html?highlight=CI%20cache#caching-the-cargo-home-in-ci
    - ".cargo/.crates.toml"
    - ".cargo/.crates2.json"
    - ".cargo/bin/"
    - ".cargo/registry/index/"
    - ".cargo/registry/cache/"
    - ".cargo/registry/src/"
    - ".cargo/git/db/"
  policy: pull

.cargo-build-cache: &cargo-build-cache
  key: $CI_COMMIT_REF_SLUG-$CI_JOB_NAME_SLUG
  paths:
    # https://doc.rust-lang.org/cargo/guide/build-cache.html
    - "target"
  policy: pull-push

# Unified Rust job template - consolidated configuration for all Rust jobs
.rust-template:
  image: rust:1.93.0@sha256:bbde3ca426faeebab3eb58b8005d3d6da70607817a14bb92a55c94611d4d905f
  variables:
    CARGO_HOME: ".cargo"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes: *rust-changes
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes: *rust-changes
  before_script:
    - rustc --version
    - cargo --version
  interruptible: true

# Build job - compile the project
build:
  extends: .rust-template
  stage: build
  script:
    - cargo build --all-features --verbose
  cache:
    - <<: *cargo-registry-cache
    - <<: *cargo-build-cache

# Test job - run unit tests
test:
  extends: .rust-template
  stage: test
  script:
    - cargo test --all-features --verbose
  cache:
    - <<: *cargo-registry-cache
    - <<: *cargo-build-cache
      policy: pull
  dependencies:
    - build

# Clippy job - run linting
clippy:
  extends: .rust-template
  stage: lint
  before_script:
    - !reference [.rust-template, before_script]
    - rustup component add clippy
    - cargo clippy --version
  script:
    - cargo clippy --all-targets --all-features -- -D warnings
  cache:
    - <<: *cargo-registry-cache
    - <<: *cargo-build-cache
      policy: pull
  dependencies:
    - build

# Format job - check code formatting
fmt:
  extends: .rust-template
  stage: lint
  before_script:
    - !reference [.rust-template, before_script]
    - rustup component add rustfmt
    - cargo fmt --version
  script:
    - cargo fmt --all -- --check
  cache:
    - <<: *cargo-registry-cache

# Documentation job - build and check rustdoc
rustdoc:
  extends: .rust-template
  stage: docs
  script:
    - cargo doc --all-features --no-deps 2>&1 | tee doc-output.txt
    - cargo rustdoc --lib -- --document-private-items
  cache:
    - <<: *cargo-registry-cache
    - <<: *cargo-build-cache
      policy: pull
  dependencies:
    - build
  artifacts:
    paths:
      - target/doc
      - doc-output.txt
    expire_in: 1 week
    when: always

# Documentation tests job - ensure all doc examples compile
doc-test:
  extends: .rust-template
  stage: docs
  script:
    - cargo test --doc --all-features
  cache:
    - <<: *cargo-registry-cache
    - <<: *cargo-build-cache
      policy: pull
  dependencies:
    - build
